@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/*===========================

Fonts

===========================*/
.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main-link {
  text-decoration: none;
  color: @black;
}

.header-font {
  text-transform: uppercase;
  color: #050500;
}
