@import "./variables.less";
@import "./mixins.less";

/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*===========================

Header

===========================*/

header {
  background-color: @yellow;
}
