@import "./variables.less";
@import "./mixins.less";

/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*===========================

Univeral

===========================*/
h1 {
	.header-font();
}

span {
	.main-font();
	.header-font();
	color: @red;
}


/*===========================

Links

===========================*/

.btn-primary {
	.main-font ();
	.header-font();
	font-size: 18px;
	background-color: @yellow;
	border-radius: 8px;
	border: none;
}
.btn-primary:hover {
	color: @gray;
	background-color: @red;
}

.btn-primary:focus {
	border: none;
  box-shadow: none;
}

/*===========================

Header

===========================*/

header {
  background-color: @yellow;
	margin: 0 auto;
	padding: @main-padding 1rem .75rem 1rem;
}

nav ul li {
	display: inline-block;
}
ul {
	text-align: center;
}
li a {
	.main-font();
	.main-link();
	padding-left: @main-padding;
}

li a:hover {
	.main-font();
	.main-link();
	color: @red;
	padding-left: @main-padding;
}

span a {
	color: @red;
}

span a:hover {
	color: @black;
}


/*===========================

Hero

===========================*/
.hero {
  width: 100%;
	height: 200px;
  background: black;
  overflow: hidden;
}

.hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center bottom;
  opacity: 33%;
}

.hero-items {
	position: relative;
	text-align: center;
	top: -11rem;
	margin: 0 auto;
}

/*===========================

Photos

===========================*/
.reg-photo {
	width: 100%;
	max-width: 15rem;
	object-fit: cover;
}

.float-right {
	padding-right: @main-padding * 2;
	padding-bottom: @main-padding;
}

.float-left {
	padding-left: @main-padding * 2;
	padding-bottom: @main-padding;
}

/*===========================

Sections

===========================*/
.view-menu,
.contact-us {
	padding: @main-padding;
}

.contact-us {
	background-color: @gray;
}


/*===========================

Footer

===========================*/
footer {
	background-color: @black;
	border-top: 10px solid @yellow;
}




/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/
@media screen and (min-width: 575px) {
	/* Hero */
  .hero {
		height: 25rem;
  }
	.hero-items {
		top: -20rem;
	}
	/* Photos */
	.reg-photo {
		max-width: 30rem;
	}
	.float-right {
		padding: @main-padding;
	}
	.float-left {
		padding: 0 @layout-padding-desktop;
	}
	/* Sections */
	.contact-us {
		padding-bottom: @layout-padding-desktop * 1.5;
	}
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/
@media screen and (min-width: 1366px) {
	/* Header */
	header {
		padding: @main-padding 1rem .75rem @layout-padding-desktop;
	}
	ul {
		text-align: left;
	}
	/* Hero */
	.hero {
		height: 30rem;
	}
	.hero-items {
		top: -23rem;
	}
	/* Sections */
	.view-menu {
		padding: @layout-padding-desktop;
	}
	.contact-us {
		padding: @main-padding @layout-padding-desktop @layout-padding-desktop * 2 @layout-padding-desktop;
	}
	.contact-us-paragraph {
		padding-right: @layout-padding-desktop;
	}
	/* Photos */
	.float-right {
		padding: @main-padding @layout-padding-desktop;
	}
	.float-left {
		padding: 0 @layout-padding-desktop;
	}
}


/*===========================

Responsive Web Coding - 1920px by 1024 px (Desktop)

===========================*/
@media screen and (min-width: 1500px) {

}
